body {
	background-color: #B0C4DE;
}

.anagram-impl {
	text-align: center;
}

h1 {
	text-align: center;
	color: red;
}

.word {
	font-size: 20px;
}

.guess {
	width: 300px;
}

.check {
	width: 20px;
	height:20px;
	padding-left: 5px;
	display:none;
}

.x {
	width: 20px;
	height:20px;
	padding-left: 5px;
	display:none;
}