---

---
<html>

    <head>
        <script src="{{site.url}}/release/cts.js" data-treesheet="{{site.url}}/tagcat.cts"></script>
          <link rel="treesheet" href="{{site.url}}/{{site.theme}}/{{site.theme}}.cts" />
          
        <title>Recursive Blog</title>
        <style type="text/cts">
            @html tagcat {{site.url}}/{{site.theme}}/tagcat.html;
        </style>
    </head>
    <body>
        <div id="page">
            <h1><a href="{{site.url}}">Recursive Blog</a></h1>
    <h2>Ruminations on Ruminations</h2>

    <div id="nav">
		<ul>
			<li><a href="http://www.google.com">Google</a>
				<ul>
					<li><a href="http://mail.google.com">Google Mail</a></li>
				</ul>
			</li>
			<li><a href="http://www.reddit.com">Reddit</a></li>
			<li><a href="http://www.wolphramalpha.com">Wolfram Alpha</a></li>
		</ul>
    </div>
	<div id="recentPosts">
		<a href="/post5">Post 5</a>
		<a href="/post4">Post 4</a>
		<a href="/post3">Post 3</a>
		<a href="/post2">Post 2</a>
		<a href="/post1">Post 1</a>
	</div>
	
      
    <div id="recentPosts">
                {% for post in site.posts limit:5 %}
                <a href="{{site.url}}{{post.url}}">{{post.title}}</a>
                {% endfor %}
            </div>
              
              
            <div id="archives">
                <a href="/2013/06">June 2013</a>
                <a href="/2013/05">May 2013</a>
                <a href="/2013/04">April 2013</a>
            </div>
              
            <div id="categories">
                {% for cat in site.categories limit:5 %}
                    <a href="{{site.url}}/category/{{cat[0]}}">{{cat[0]}}</a>
                {% endfor %}
                </div>
      
    <div id="content">
        <h2 class="index-type">{% if page.type == 'category' %}Category{% elsif page.type == 'tag' %}Tag{% endif %}</h2>
        <h2 class="index-cat">{% if page.type == 'category' %}{{page.category}}{% elsif page.type == 'tag' %}{{page.tag}}{% endif %}</h2>
        <div id="article-list">            
              {% for post in site.posts %}
              {% for tag in post.tags %}
              {% if tag == page.tag %}
                    <article>
                        <h1 class="entry-title"><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h1>
                        <span class="entry-date"><time class="post-date" date="{{post.date}}">{{post.date | date: "%d %B, %Y" }}</time></span>
                        <span class="cat-links"> Posted in <a href="{{site.url}}/{{post.category}}">{{post.category}}</a></span>
                        <span class="tags-links">Tagged 
                        {% for tag in post.tags %}
                            <a href="{{site.url}}/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                        </span>
                        <div class="entry-content">{{post.content}}</div>
                    </article>
              {% endif %}
              {% endfor %}
              {% if post.category == page.category %}
                    <article>
                        <h1 class="entry-title"><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h1>
                        <span class="entry-date"><time class="post-date" date="{{post.date}}">{{post.date | date: "%d %B, %Y" }}</time></span>
                        <span class="cat-links"> Posted in <a href="{{site.url}}/{{post.category}}">{{post.category}}</a></span>
                        <span class="tags-links">Tagged 
                        {% for tag in post.tags %}
                            <a href="{{site.url}}/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                        </span>
                        <div class="entry-content">{{post.content}}</div>
                    </article>
              {% endif %}
              {% endfor %}
            
        </div>
        </div>
    </body>
</html>